.gallery{
    display: block;
}
.sample {
    width: 90%;
    padding:0px;
    padding-top: 5px;
}
img {
    max-width: 250px;
}
body {
    text-align: center;
    min-width: 317px;
    box-sizing: border-box;
}
h1 {
    font-size: 32px;
}
#logo {
    max-height: 6em;
}

.tagline {
    font-size: 1.1em;
}
.article_text {
    text-align: left;
}

